<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= urlcityname %></title>

    <link rel="stylesheet" type="text/css" href="<%= pathpage %>css/default.min.css">
    <link rel="stylesheet" type="text/css" href="<%= pathpage %>css/city.min.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <section>
                <a class="logo" href="/">
                    <img src="<%= pathpage %>img/weather-api-logo.png" alt="Logotipo Weather API">
                </a>
            </section>
        </header>
        <main>
            <section>
                <% 
                for(let city of cityinfo){
                    const cName = city.name
                    const cCountry = city.country
                    const coordLat = city.coord.lat
                    const coordLon = city.coord.lon
                    const pop = city.stat.population
                %>
                <h1><%= cName %></h1>
                <br>
                <p><strong>Country:</strong> <%= cCountry %></p>
                <p><strong>Coordinates:</strong> <%= coordLon %> / <%= coordLat %></p>
                <p><strong>Population:</strong> <%= pop %> inhabitants</p>
                <% } %>

                <!-- Weather Info -->

                <%
                const kelvinToCelsius = (k) => Math.round(parseFloat(k).toFixed(2) - 273.15)

                if(weatherinfo !== ''){
                %>
                    <p class="weather-info-header"><strong>Weather Info</strong></p>

                    <div class="filter-box">
                        <label for="datefrom" for="lblfrom">From:</label>
                        <select name="datefrom" id="datefrom">
                            <option value="" selected>Select a Date</option>
                            
                            <% 
                            for(let val of weatherinfo){
                                const inData = val.data
                                
                                let optCount = 1

                                for(let vData of inData){ 
                                    const dateObj = new Date(vData.dt * 1000)
                                    const inputData = dateObj.toLocaleString('en-IN', {
                                        year: 'numeric',
                                        month: 'numeric',
                                        day: 'numeric'
                                    })
                                    %>
                                    
                                    <option value="<%= optCount %>"><%= inputData %></option>
                                <% 
                                optCount++
                                } 
                                %>
                            <% } %>
                        </select>

                        <label for="dateto" for="lblto">To:</label>
                        <select name="dateto" id="dateto">
                            <option value="" selected>Select a Date</option>
                            
                            <% 
                            for(let val of weatherinfo){
                                const inData = val.data
                                
                                let optCount = 1

                                for(let vData of inData){ 
                                    const dateObj = new Date(vData.dt * 1000)
                                    const inputData = dateObj.toLocaleString('en-IN', {
                                        year: 'numeric',
                                        month: 'numeric',
                                        day: 'numeric'
                                    })
                                    %>
                                    
                                    <option value="<%= optCount %>"><%= inputData %></option>
                                <% 
                                optCount++
                                } 
                                %>
                            <% } %>
                        </select>
                        <div class="btn-filter">Filter</div>
                    </div>

                    <div class="filtered-box">
                    <table>
                        <tr>
                            <th>Date</th>
                            <th>Min</th>
                            <th>Max</th>
                        </tr>
                        <% 
                        for(let val of weatherinfo){
                            const inData = val.data                            
                            let filData = []

                            if(urlfrom !== '' && urlto !== ''){
                                for(let x = --urlfrom; x < urlto; x++){
                                    filData.push(inData[x])
                                }
                            } else {
                                filData = inData
                            }
                            
                            for(let vData of filData){
                                const dateObj = new Date(vData.dt * 1000)
                                const inputData = dateObj.toLocaleString('en-IN', {
                                    year: 'numeric',
                                    month: 'numeric',
                                    day: 'numeric'
                                })
                            %>
                            <tr>
                                <td><%= inputData %></td>
                                <td><%= kelvinToCelsius(vData.temp.min) %>ºC</td>
                                <td><%= kelvinToCelsius(vData.temp.max) %>ºC</td>
                            </tr>
                            <% } %>
                        <% } %>
                    </table>
                    </div>

                    <input type="hidden" id="cityname" value="<%= urlcityname %>">

                    <script>
                        /* Filter */
                        const selectDate = document.querySelectorAll('select')

                        document.querySelector('.btn-filter').onclick = () => {
                            
                            let count = 0
                            selectDate.forEach(opt => {
                                if(opt.value == ''){
                                    count++
                                }
                            })
                            if(count > 0){
                                alert('ALERT!\nYou need to select both dates to filter!')
                            } else {
                                const selFrom = document.getElementById('datefrom').value
                                const selTo = document.getElementById('dateto').value
                                
                                const cityname = document.querySelector('#cityname').value
                                window.open(`./${cityname}?from=${selFrom}&to=${selTo}`, '_self')
                            }
                        }
                    </script>
                    
                <% } %>
            </section>
        </main>
        <footer>
            <span>
                <strong>© weather.api</strong><br>
                Developed by <a href="https://www.renatobrunetti.com.br" target="_blank">Renato Brunetti</a>
            </span>
        </footer>
    </div>
</body>
</html>