<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weathe API - Node.js</title>
    
    <link rel="stylesheet" type="text/css" href="<%= pathpage %>css/default.min.css">
    <link rel="stylesheet" type="text/css" href="<%= pathpage %>css/list.min.css">
</head>
<body>
    <div class="wrapper">
        <header>
            <section>
                <a class="logo" href="/">
                    <img src="<%= pathpage %>img/weather-api-logo.png" alt="Logotipo Weather API">
                </a>
            </section>
        </header>
        <main>
            <section class="container">

                <div class="filter-box">
                    <label for="coordfrom" for="lblfrom">From:</label>
                    <select name="coordfrom" id="coordfrom">
                        <option value="" selected>Select a Coordinate</option>

                        <%
                        let optCountFrom = 1

                        for(let val of sortcities){
                            const coordLat = val.coord.lat
                            const coordLon = val.coord.lon

                            %>
                            <option value="<%= optCountFrom %>"><%= coordLon %> - <%= coordLat %></option>

                            <%
                            optCountFrom++
                        }
                        %>
                    </select>

                    <label for="coordto" for="lblto">To:</label>
                    <select name="coordto" id="coordto">
                        <option value="" selected>Select a Coordinate</option>

                        <%
                        let optCountTo = 1

                        for(let val of sortcities){
                            const coordLat = val.coord.lat
                            const coordLon = val.coord.lon

                            %>
                            <option value="<%= optCountTo %>"><%= coordLon %> - <%= coordLat %></option>

                            <%
                            optCountTo++
                        }
                        %>
                    </select>

                    <div class="btn-filter">Filter</div>
                </div>


                <table class="row header-cities">
                    <tr class="header-table">
                        <th><span>#</span></th>
                        <th><span>City</span></th>
                        <th><span>Weather</span></th>
                        <th><span>Coordinates</span></th>
                    </tr>
                    
                    <% 
                    let filData = []

                    if(urlfrom !== '' && urlto !== ''){
                        for(let x = --urlfrom; x < urlto; x++){
                            filData.push(cities[x])
                        }
                    } else {
                        filData = cities
                    }

                    let count = 0
                    for(let city of filData){

                        const coordLat = city.coord.lat
                        const coordLon = city.coord.lon
                    %>
                        <tr>
                            <td><span class="count"><%= ++count %></span></td>
                            <td><a href="city/<%= city.name.toLowerCase() %>"><%= city.name %></a></td>
                            <td>
                                <% if ( weatherid.includes(city.id) ){ %>
                                    <a class="weather" href="city/<%= city.name.toLowerCase() %>">
                                        <img src="<%= pathpage %>img/weather-api-icon.png" alt="Weather Info">
                                    </a>
                                <% } else {%>
                                    <span>.</span>
                                <% } %>
                            </td>
                            <td>
                                <span class="coord"><%= coordLon %></span> - <span class="coord"><%= coordLat %></span>
                            </td>
                        </tr>
                    <% } %>

                </table>
            </section>

            <script>
                /* Filter */
                const selectCoord = document.querySelectorAll('select')
                document.querySelector('.btn-filter').onclick = () => {
                    let count = 0
                    selectCoord.forEach(opt => {
                        if(opt.value == ''){
                            count++
                        }
                    })
                    if(count > 0){
                        alert('ALERT!\nYou need to select both coordinates to filter!')
                    } else {
                        const selFrom = document.getElementById('coordfrom').value
                        const selTo = document.getElementById('coordto').value

                        window.open(`./list?from=${selFrom}&to=${selTo}`, '_self')
                    }
                }
            </script>
        </main>
        <footer>
            <span>
                <strong>© weather.api</strong><br>
                Developed by <a href="https://www.renatobrunetti.com.br" target="_blank">Renato Brunetti</a>
            </span>
        </footer>
    </div>
</body>
</html>